@import "bourbon/bourbon";

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#SCsearch{
    
    width: 100%;
    height: 50px;
    border: 0px;
    padding: 15px;
    @include box-sizing(border-box);
    background-color: #3c3c3c;
    color: white;
    position: absolute;

}

ul#tracklist{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 55px;
    height: 100%;
    li{
        background-color: white;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 60px;
        cursor: pointer;
        overflow: hidden;

        img{
            height: 100%;
            width: 20%;
        }
        p{
            display: inline-block;
            font-size: 9px;
            height: 60px;
            vertical-align: middle;
            padding-left: 10px;
        }

        &:hover{
            background-color: #ffd5a4;
        }
    }

    overflow: scroll;
}

#searchwrapper{
    display: none;
    width: 300px;
    background-color: #fff;
    height: 100%;
    float: left;
    position: relative;

     @include box-sizing(border-box);
    overflow: hidden;
    border-right: 1px solid grey;
}

canvas{
    float: left;

}

#copyr{
    position: relative;
    margin-top: 300px;
    font-size: 11px;
    color: grey;

}